<div class="popup-container">
  <div class="popup-content">
    <div class="popup-buttons">
      <button class="go-to-cart-btn">{{ _("Перейти в корзину") }}</button>
      <button class="continue-shopping-btn">{{ _("Продолжить покупки") }}</button>
    </div>
    <div id="error-message" style="color: red;"></div>
  </div>
</div>