{% extends "base.j2" %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Section">
        <div class="wrap">
            {% for item in cart_items %}
            <form class="form Cart" action="#" method="post">
                {% with product=item.offer.product %}
                <div class="Cart-product">
                    {% if item.quantity > 0 %}
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="{{ url("products:product_detail", product.id) }}"><img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                        </div>
                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{{ url("products:product_detail", product.id) }}">{{ product.name }}</a>
                            <div class="Cart-desc"> {{ product.description }}
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                            <div class="Cart-price"> {{ item.offer.price }}
                            </div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_seller">
                            <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                        </div>
                        <div class="Cart-block Cart-block_amount">
                            <div class="Cart-amount">
                                <div class="Amount">
                                    <button class="Amount-remove" type="button" data-product-id="{{ item.offer.id }}" >
                                    </button>
                                    <input data-product-id="{{ item.offer.id }}" min="1" id="quantity-{{ item.offer.id }}"
                                           class="Amount-input form-input" name="amount" type="text" value="{{ item.quantity }}" />
                                    <button class="Amount-add" type="button" data-product-id="{{ item.offer.id }}">
                                    </button>
                                 </div>
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_delete">
                            <a class="Cart-delete" href="{{ url('cart:remove_from_cart', product.id) }}">
                                <img src="{{ static('img/icons/card/delete.svg') }}" alt="delete.svg" />
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endwith %}
            {% endfor %}
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title">Итого:</strong>
                        <div id="total_cart_price" class="Cart-price">{{ cart_total_price }}</div>
                    </div>
                    <div class="Cart-block"><a class="btn btn_success btn_lg" href="{{ url('order:step1') }}">Оформить заказ</a>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
{% endblock content %}