{% autoescape off %}
    
    Вы получили это электронное письмо, потому что для пользователя {{ user.get_username }}
    запросили сброс пароля для своей учётной записи пользователя на MEGANO.

	Перейдите на следующую страницу и установите новый пароль:
	{% block reset_link %}
	    {{ protocol }}://{{ domain }}{% url 'users:set_new_password' uidb64=uid token=token %}
	{% endblock %}

	Спасибо за использование нашего сайта!

    Если Вы не запрашивали восстановление пароля, проигнорируйте сообщений!

	The MEGANO team

{% endautoescape %}