<div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo">
            <a class="logo" href="{{ url('home') }}">
                <img class="logo-image" src="{{ static('img/logo.png') }}" alt="logo.png" />
            </a>
        </div>
        <nav class="row-block row-block_right Header-menu">
            <div class="menuModal" id="navigate">
                <ul class="menu menu_main">
                    <li class="menu-item">
                        <a class="menu-link" href="{{ url('home') }}">
                            Главная
                        </a>
                    </li>
                    <li class="menu-item">
                        <span class="menu-label menu-label_success">
                            Скидки
                        </span>
                        <a class="menu-link" href="catalog.html">
                            Каталог
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="comparison.html">
                            Сравнение
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row-block">

            <div class="CartBlock">
                <div class="dropdown">
                    <button class="dropbtn">
                        <img class="CartBlock-img" src="{{ static('img/icons/loon-icon.svg') }}"
                            alt="loon-icon.svg" />
                    </button>
                    <div class="dropdown-content">
                        <a class="dropdown-content-a" href="account.html">
                            Личный кабинет
                        </a>
                        <a class="dropdown-content-a" href="account.html">
                            Административный раздел
                        </a>
                        <a class="dropdown-content-a" href="account.html">
                            Выход
                        </a>
                    </div>
                </div>
                <a class="CartBlock-block" href="cart.html">
                    <img class="CartBlock-img" src="{{ static('img/icons/cart.svg') }}" alt="cart.svg" />
                    <span class="CartBlock-amount">
                        0
                    </span>
                </a>
                <div class="CartBlock-block">
                    <span class="CartBlock-price">
                        0.00$
                    </span>

                </div>
            </div>
        </div>
        <div class="row-block Header-trigger">
            <a class="menuTrigger" href="#navigate">
                <div class="menuTrigger-content">
                    Показать навигацию
                </div>
                <span></span><span></span><span></span>
            </a>
        </div>
    </div>
</div>