<div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo">
            <a class="logo" href="{{ url('shops:home') }}">
                <img class="logo-image" src="{{ static('img/logo.png') }}" alt="logo.png" />
            </a>
        </div>
        <nav class="row-block row-block_right Header-menu">
            <div class="menuModal" id="navigate">
                <ul class="menu menu_main">
                    <li class="menu-item">
                        <a class="menu-link" href="{{ url('shops:home') }}">
                            Главная
                        </a>
                    </li>
                    <li class="menu-item">
                        <span class="menu-label menu-label_success">
                            Скидки
                        </span>
                        <a class="menu-link" href="catalog.html">
                            Каталог
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="comparison.html">
                            Сравнение
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row-block">

            <div class="CartBlock">
                <div class="dropdown">
                    <button class="dropbtn">
                        <img class="CartBlock-img" src="{{ static('img/icons/loon-icon.svg') }}"
                            alt="loon-icon.svg" />
                    </button>
                    {% if request.user.is_authenticated %}
                    <div class="dropdown-content">
                        <a class="dropdown-content-a" href="{{ url('account:account_user', request.user.pk) }}">
                            Личный кабинет
                        </a>
                        <a class="dropdown-content-a" href="account.html">
                            Административный раздел
                        </a>
                        <a class="dropdown-content-a" href="{{ url('users:logout_user') }}">
                            Выход
                        </a>
                    </div>
                    {% endif %}
                </div>
                <a class="CartBlock-block" href="{{ url('cart:cart') }}">
                    <img class="CartBlock-img" src="{{ static('img/icons/cart.svg') }}" alt="cart.svg" />
                    <span id="cart-len"class="CartBlock-amount">
                        {{ cart_len }}
                    </span>
                </a>
                <div class="CartBlock-block">
                    <span id="cart_total_price" class="CartBlock-price">
                        {{ total_price }}$
                    </span>

                </div>
            </div>

        </div>
        <div class="row-block Header-trigger">
            <a class="menuTrigger" href="#navigate">
                <div class="menuTrigger-content">
                    Показать навигацию
                </div>
                <span></span><span></span><span></span>
            </a>
        </div>
    </div>
</div>