{% extends "base.j2" %}

{% block content %}

    <div class="Middle Middle_top">

        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{{ _("Навигация") }}
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="{{ url('account:account_user', request.user.pk) }}">{{ _("Личный кабинет") }}</a>
                                    </li>
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{{ url('account:profile_user', request.user.pk) }}">{{ _("Профиль") }}</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{{ url("order:history") }}">{{ _("История заказов") }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Profile">
                        <form class="form Profile-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="avatar">{{ _("Аватар") }}
                                        </label>
                                        <div class="Profile-avatar Profile-avatar_noimg">

                                            <label class="Profile-fileLabel" for="avatar"><img src="{{ static('assets/img/icons/upload.png') }}" alt="#.png" />{{ _("Загрузить фото") }}
                                            </label>
                                            
                                            <input class="Profile-file form-input" id="avatar" name="avatar" type="file" data-validate="onlyImgAvatar" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="name">{{ _("ФИО") }}
                                        </label>
                                        {% if user.last_name %}
                                        <input class="form-input" id="name" name="name" type="text"
                                        value="{{user.last_name}} {{user.first_name}} {{user.surname}}"" data-validate="require"/>
                                        {% else %}
                                        <input class="form-input" id="name" name="name" type="text" data-validate="require"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="phone">{{ _("Телефон") }}
                                        </label>
                                        <input class="form-input" id="phone" name="phone" type="text" value="{{ user.phone_number }}" placeholder="+7(988)000-00-00" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="mail">{{ _("E-mail") }}
                                        </label>
                                        <input class="form-input" id="mail" name="mail" type="text" value="{{ user.email }}" data-validate="require" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password">{{ _("Пароль (после смены, необходимо будет выполнить вход заново)") }}
                                        </label>
                                        <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="passwordReply">{{ _("Подтверждение пароля") }}
                                        </label>
                                        <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно" />
                                    </div>
                                    <div class="form-group">
                                        <div class="Profile-btn">
                                            <button class="btn btn_success" type="submit">{{ _("Сохранить") }}
                                            </button>
                                        </div>
                                        <div class="Profile-success">
                                        {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}