{% block content %}
<div class="CategoriesButton-title">
    <div class="CategoriesButton-icon"><img src="#" alt="#"/>
    </div>
    <span class="CategoriesButton-text">Все категории</span>
</div>

<div class="CategoriesButton-content">
    <ul>
        {% for category in categories recursive %}
        <li>
            <div class="CategoriesButton-link"><a href="{{ url('products:products_by_category') }}/{{ category.pk }}">
                <div class="CategoriesButton-icon"><img src="#" alt="#"/>
                </div>
                <span class="CategoriesButton-text">{{ category.name }}</span>
            </a>
            </div>
            {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}