<div class="row-block">
    <strong class="Footer-title">{% trans %}Контакты{% endtrans %}
    </strong>
    <p>{% trans %}Телефон{% endtrans %}: 8(800)200-60-00<br>{% trans %}Email{% endtrans %}: service.megano@gmail.com<br>
    </p>
    <ul class="menu menu_img menu_smallImg Footer-menuSoc">
        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/fb.svg') }}"
                    alt="fb.svg" /></a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/tw.svg') }}"
                    alt="tw.svg" /></a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/in.svg') }}"
                    alt="in.svg" /></a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/pt.svg') }}"
                    alt="pt.svg" /></a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/mail.svg') }}"
                    alt="mail.svg" /></a>
        </li>
    </ul>
</div>