<div class="row-block">
    <strong class="Footer-title">
        Навигация
    </strong>
    <ul class="menu menu_vt Footer-menu">
        <li class="menu-item">
            <a class="menu-link" href="index.html">Главная</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="catalog.html">Каталог</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="comparison.html">Сравнение</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="account.html">Профиль</a>
        </li>

    </ul>
</div>