<div class="row-block">
    <strong class="Footer-title">
        {% trans %}Навигация{% endtrans %}
    </strong>
    <ul class="menu menu_vt Footer-menu">
        <li class="menu-item">
            <a class="menu-link" href="index.html">{% trans %}Главная{% endtrans %}</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="catalog.html">{% trans %}Каталог{% endtrans %}</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="comparison.html">{% trans %}Сравнение{% endtrans %}</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="account.html">{% trans %}Профиль{% endtrans %}</a>
        </li>

    </ul>
</div>