{% extends "base.j2" %}

{% block content %}

    <div class="Middle Middle_top">

        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="{{ url('account:account_user', request.user.pk) }}">Личный кабинет</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{{ url('account:profile_user', request.user.pk) }}">Профиль</a>
                                    </li>
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#">Редактировать магазин</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{{ url('imports:upload_file', request.user.pk) }}">Импорт товаров</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#">История заказов</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Profile">
                        <form class="form Profile-form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="name">Название магазина
                                        </label>
                                        <input class="form-input" id="name" name="name" type="text" value="{{ shop.name }}" data-validate="require"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="description">Описание
                                        </label>
                                        <input class="form-input" id="description" name="description" type="text" value="{{ shop.description }}" data-validate="require">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="address">Адрес
                                        </label>
                                        <input class="form-input" id="address" name="address" type="text" value="{{ shop.address }}" data-validate="require"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="phone">Номер телефона
                                        </label>
                                        <input class="form-input" id="phone" name="phone" type="tel" value="{{ shop.phone_number }}" data-validate="require"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="mail">E-mail
                                        </label>
                                        <input class="form-input" id="mail" name="mail" type="text" value="{{ shop.email }}" data-validate="require" />
                                    </div>

                                    <div class="form-group">
                                        <div class="Profile-btn">
                                            <button class="btn btn_success" type="submit">Сохранить
                                            </button>
                                        </div>
                                        <div class="Profile-success">
                                        {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}