{% for item in order.items.all() %}
    <div class="Cart Cart_order">
    <div class="Cart-product">
        {% with product=item.offer.product %}
        <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_pict">
                    {% if product.product_images.first() %}
                    <a class="Card-picture" href="{{ url('products:product_detail', product.pk) }}">
                    <img src="{{ product.product_images.first().image.url }}" alt="card.jpg" /></a>
                    {% else %}
                    <a class="Card-picture" href="{{ url('products:product_detail', product.pk) }}">
                    <img src="{{ static('img/content/home/card.jpg') }}" alt="card.jpg" /></a>
                    {% endif %}
                </div>
            <div class="Cart-block Cart-block_info">
                <a class="Cart-title" href="{{ url("products:product_detail", product.id) }}">
                    {{ product.name }}
                </a>
                <div class="Cart-desc">
                    {{ product.description|truncatewords(20) }}
                </div>
            </div>
            <div class="Cart-block Cart-block_price">
                <div class="Cart-price">
                    ${{ item.offer.price }}
                </div>
            </div>
        </div>
        {% endwith %}
        <div class="Cart-block Cart-block_row">
            <div class="Cart-block Cart-block_amount">
                {{ item.quantity }} шт.
            </div>
        </div>
    </div>
{% endfor %}

<div class="Cart-total">
    <div class="Cart-block Cart-block_total">
        <strong class="Cart-title">
            Итого:
            <span class="Cart-price">
                ${{ order.final_price }}
            </span>
        </strong>
    </div>

</div>
</div>
