<li class="menu-item">
<a class="menu-link" href="{{ url("order:step1") }}">Шаг 1. Параметры пользователя</a>
</li>
<li class="menu-item_ACTIVE menu-item">
<a class="menu-link" href="{{ url("order:step2") }}">Шаг 2. Способ доставки</a>
</li>
<li class="menu-item">
<a class="menu-link" href="{{ url("order:step3") }}">Шаг 3. Способ оплаты</a>
</li>
<li class="menu-item">
<a class="menu-link" href="{{ url("order:step4") }}">Шаг 4. Подтверждение заказа</a>
</li>