{% extends 'order/order.j2' %}

{% block step_list %}
    {% include "order/step_list.j2" %}
{% endblock %}

{% block step_form %}
    <div class="Order-personal">
      <div class="row">
        <div class="row-block">
          <div class="Order-info">
            <div class="Order-infoType">ФИО:</div>
            <div class="Order-infoContent">{{ user_data.full_name }}</div>
          </div>
          <div class="Order-info">
            <div class="Order-infoType">Телефон:</div>
            <div class="Order-infoContent">{{ user_data.phone_number }}</div>
          </div>
          <div class="Order-info">
            <div class="Order-infoType">E-mail:</div>
            <div class="Order-infoContent">{{ user_data.email }}</div>
          </div>
        </div>
        <div class="row-block">
          <div class="Order-info Order-info_delivery">
            <div class="Order-infoType">Тип доставки:
            </div>
            <div class="Order-infoContent">{{ shipping_data.delivery_option }}</div>
          </div>
          <div class="Order-info">
            <div class="Order-infoType">Город:</div>
            <div class="Order-infoContent">{{ shipping_data.delivery_address }}</div>
          </div>
          <div class="Order-info">
            <div class="Order-infoType">Адрес:</div>
            <div class="Order-infoContent">{{ shipping_data.delivery_city }}</div>
          </div>
          <div class="Order-info Order-info_pay">
            <div class="Order-infoType">Оплата:</div>
            <div class="Order-infoContent">{{ payment_data.payment_option }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Cart Cart_order">
      {% for item in order_items %}
        <div class="Cart-product">
          <div class="Cart-block Cart-block_row">
            {% with product=item.offer.product %}
                <div class="Cart-block Cart-block_pict">
                  <a class="Cart-pict" href="#">
                    <img class="Cart-img" src="#" alt="card.jpg"/>
                  </a>
                </div>
                <div class="Cart-block Cart-block_info">
                  <a class="Cart-title" href="#">{{ product.name }}</a>
                    <div class="Cart-desc">{{ product.description|truncate(200) }}</div>
                </div>
                <div class="Cart-block Cart-block_price">
                  <div class="Cart-price">{{ item.offer.price }}$</div>
                </div>
            {% endwith %}
          </div>
          <div class="Cart-block Cart-block_row">
            <div class="Cart-block Cart-block_amount">{{ item.quantity }} шт.</div>
          </div>
        </div>
      {% endfor %}
      <div class="Cart-total">
        <div class="Cart-block Cart-block_total">
            {% if get_delivery_cost %}
                <strong class="Cart-title">Cтоимость доставки:</strong>
                <div class="Cart-price" name="design">{{ get_delivery_cost }}$</div>
            {% endif %}

            <strong class="Cart-title">Итого:</strong>
            <div class="Cart-price">{{ (get_final_price_with_discount + get_delivery_cost)|floatformat(2) }}$</div>

        </div>

        <form class="form" method="post">{% csrf_token %}
          <div class="Cart-block">
            <button class="btn btn_primary btn_lg" type="submit">Оформить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
