{% extends 'order/order.j2' %}

{% block step_list %}
    {% include "order/step_list.j2" %}
{% endblock %}

{% block step_form %}
  <form class="form" action="" method="post">{% csrf_token %}
    <div class="Order-block Order-block_OPEN" id="step1">
      <header class="Section-header Section-header_sm">
        <h2 class="Section-title">Шаг 1. Параметры пользователя</h2>
      </header>
      <div class="row">
        <div class="row-block">
          <div class="form-group">
            <label class="form-label" for="name">ФИО
              <div>{{ form.full_name }}</div>
              <div style="color: red;">{{ form.full_name.errors }}</div>
            </label>
          </div>
          <div class="form-group">
            <label class="form-label" for="phone">Телефон
              <div>{{ form.phone_number }}</div>
              <div style="color: red;">{{ form.phone_number.errors }}</div>
            </label>
          </div>
          <div class="form-group">
            <label class="form-label" for="mail">E-mail
              <div>{{ form.email }}</div>
              <div style="color: red;">{{ form.email.errors }}</div>
            </label>
          </div>
        </div>
      </div>
      <div class="Order-footer">
        <button class="btn btn_success" type="submit">Дальше</button>
      </div>
    </div>
  </form>
{% endblock %}