{% include "cart/add_to_cart_success.j2" %}
<div class="Section-content">
    <div class="Slider Slider_carousel">
        <header class="Section-header Section-header_close">
            <h2 class="Section-title">{% trans %}Ограниченный тираж{% endtrans %}
            </h2>
            <div class="Section-control">
                <div class="Slider-navigate">
                </div>
            </div>
        </header>
        <div class="Slider-box Cards">
            {% for item in limited_edition_products %}
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card">
                        {% if item.product.product_images.first() %}
                        <a class="Card-picture" href="{{ url('products:product_detail', item.product.pk) }}">
                        <img src="{{ item.product.product_images.first().image.url }}" alt="card.jpg" /></a>
                        {% else %}
                        <a class="Card-picture" href="{{ url('products:product_detail', item.product.pk) }}">
                        <img src="{{ static('img/content/home/card.jpg') }}" alt="card.jpg" /></a>
                        {% endif %}
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a href="{{ url('products:product_detail', item.product.pk) }}" tabindex="-1">{{ item.product.name[:20] }}</a>
                            </strong>
                            <div class="Card-description">
                                <div class="Card-cost"><span class="Card-price">{{ item.get_price_on_discount() }}</span>
                                </div>
                                <div class="Card-category">{{ item.product.category }}
                                </div>
                                <div class="Card-hover">
                                    <button class="Card-btn" type="button" data-product-id="{{ item.id }}">
                                        <img src="{{ static('img/icons/card/cart.svg') }}" alt="cart.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
