    <div class="Section-column">
      <div class="Section-columnSection Section-columnSection_mark">
        <header class="Section-columnHeader">
          <strong class="Section-columnTitle">
            ОГРАНИЧЕННЫЕ ПРЕДЛОЖЕНИЯ
          </strong>
        </header>
        <div class="Card">
          <a class="Card-picture" href="#">
            <img src="assets/img/content/home/card.jpg" alt="card.jpg">
          </a>
          <div class="Card-content">
            <strong class="Card-title">
              <a href="#">Corsair Carbide Series Arctic White Steel</a>
            </strong>
            <div class="Card-description">
              <div class="Card-cost">
                <span class="Card-priceOld">
                  $115.00
                </span>
                <span class="Card-price">
                  $85.00
                </span>
              </div>
              <div class="Card-category">
                News / xbox
              </div>
            </div>
            <div class="CountDown" data-date="31.09.2020 03:59">
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-days">
                    -936
                  </div>
                  <span class="CountDown-label">
                    days
                  </span>
                </div>
              </div>
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-hours">
                    -11
                  </div>
                  <span class="CountDown-label">
                    hours
                  </span>
                </div>
              </div>
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-minutes">
                    -37
                  </div>
                  <span class="CountDown-label">
                    mins
                  </span>
                </div>
              </div>
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-secs">
                    -56
                  </div>
                  <span class="CountDown-label">
                    secs
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
