<div class="Section">
  <div class="wrap">
    <div class="BannersHome">
      <a class="BannersHomeBlock" href="#">
        <div class="BannersHomeBlock-row">
          <div class="BannersHomeBlock-block">
            <strong class="BannersHomeBlock-title">
              Video Cards
            </strong>
            <div class="BannersHomeBlock-content">
              from&#32;
              <span class="BannersHomeBlock-price">
                $199.00
              </span>
            </div>
          </div>
          <div class="BannersHomeBlock-block">
            <div class="BannersHomeBlock-img">
              <img src="{{ static('img/content/home/videoca.png') }}" alt="videoca.png" />
            </div>
          </div>
        </div>
      </a>
      <a class="BannersHomeBlock" href="#">
        <div class="BannersHomeBlock-row">
          <div class="BannersHomeBlock-block">
            <strong class="BannersHomeBlock-title">Head Phones
            </strong>
            <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$210.00</span>
            </div>
          </div>
          <div class="BannersHomeBlock-block">
            <div class="BannersHomeBlock-img"><img src="assets/img/content/home/videoca.png" alt="videoca.png" />
            </div>
          </div>
        </div>
      </a><a class="BannersHomeBlock" href="#">
        <div class="BannersHomeBlock-row">
          <div class="BannersHomeBlock-block">
            <strong class="BannersHomeBlock-title">Bass Speakers
            </strong>
            <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$159.00</span>
            </div>
          </div>
          <div class="BannersHomeBlock-block">
            <div class="BannersHomeBlock-img"><img src="assets/img/content/home/videoca.png" alt="videoca.png" />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>