{% extends "base.j2" %}
{% block header %}
{{ super() }}
{% include "includes/header/header_slider.j2" %}
{% endblock header %}
{% block content %}
{% include "includes/selected_product.j2" %}
<div class="Section Section_column Section_columnLeft Section_columnDesktop">
    <div class="wrap">
        {% include "includes/offer_of_the_day.j2" %}
        {% include "includes/top_products.j2" %}
    </div>
</div>
<div class="Section Section_column Section_columnRight">
    <div class="wrap">
    {% include "includes/limited_edition.j2" %}
   </div>
</div>
{% endblock content %}
