<div class="Pagination">
   <div class="Pagination-ins">
   {% set cur_path = request.get_full_path() %}
   {% if page_obj.has_previous() %}
        {% if 'page' in cur_path %}
            {% set num_cur_page = page_obj.number %}
            {% set cur_path_dynamic = cur_path|replace('page=' +  num_cur_page|string, 'page=' +  page_obj.previous_page_number()|string) %}
            <a class="Pagination-element Pagination-element_prev" href="{{ cur_path_dynamic }}"><img src="{{ static('img/icons/prevPagination.svg') }}" alt="prevPagination.svg" /></a>

        {% else %}
            <a class="Pagination-element Pagination-element_prev" href="{{ cur_path }}?page={{ page_obj.previous_page_number() }}"><img src="{{ static('img/icons/prevPagination.svg') }}" alt="prevPagination.svg" /></a>
        {% endif %}
   {% endif %}

            {% for p in  range(1, page_obj.paginator.num_pages + 1) %}
                {% if page_obj.number == p %}
                    <a class="Pagination-element Pagination-element_current" href="#">
                        <span class="Pagination-text">{{ page_obj.number }}</span>
                    </a>
                {% else %}
                    {% if p == page_obj.paginator.ELLIPSIS %}
                        <span class="Pagination-text">{{ p }}</span>
                    {% else %}
                        {% if '?' not in cur_path %}
                            <a class="Pagination-element"
                           href="{{ cur_path }}?page={{ p }}">
                            <span class="Pagination-text">{{ p }}</span>
                        {% else %}
                            {% if 'page' in cur_path %}
                                {% set num_cur_page = page_obj.number %}
                                {% set cur_path_dynamic = cur_path|replace('page=' +  num_cur_page|string, 'page=' +  p|string) %}
                                <a class="Pagination-element"
                               href="{{ cur_path_dynamic }}">
                                <span class="Pagination-text">{{ p }}</span>
                            {% else %}
                                <a class="Pagination-element"
                               href="{{ cur_path }}&page={{ p }}">
                                <span class="Pagination-text">{{ p }}</span>
                            {% endif %}
                        {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}

   {% if page_obj.has_next() %}
        {% if '?' not in cur_path %}
            <a class="Pagination-element Pagination-element_prev" href="{{ cur_path }}?page={{ page_obj.next_page_number() }}"><img src="{{ static('img/icons/nextPagination.svg') }}" alt="nextPagination.svg" /></a>
        {% else %}
            {% if 'page' in cur_path %}
                 {% set num_cur_page = page_obj.number %}
                 {% set cur_path_dynamic = cur_path|replace('page=' +  num_cur_page|string, 'page=' +  page_obj.next_page_number()|string) %}

                 <a class="Pagination-element Pagination-element_prev" href="{{ cur_path_dynamic }}"><img src="{{ static('img/icons/nextPagination.svg') }}" alt="nextPagination.svg" /></a>

            {% else %}
                  <a class="Pagination-element Pagination-element_prev" href="{{ cur_path }}&page={{ page_obj.next_page_number() }}"><img src="{{ static('img/icons/nextPagination.svg') }}" alt="nextPagination.svg" /></a>
            {% endif %}
        {% endif %}
   {% endif %}
   </div>
</div>